.msg{
   /* width: 75vw; */
   /* position: fixed; */
    background-color: rgb(35, 35, 35);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;

}




::-webkit-scrollbar{
   scrollbar-width: none;
}

.personalchat{
   height: 81vh;
   /* border: 1px solid rgb(255, 255, 255); */
   /* width: 45.1vw; */

   padding: 20px 50px;
   flex: 1;
   overflow: scroll;
   display: flex;
   flex-direction: column;
   gap: 20px;

   .message{
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own{
         align-self: flex-end;
         
         .text{
            p{
               background-color: #5183fe;
               border-radius: 20px 0 20px 20px;
               align-self: flex-end;
            }

            span{
               font-size: 13px;
               align-self: flex-end
            };
         }
      }
      .text{
         flex: 1;
         display: flex;
         flex-direction: column;
         gap: 5px;
         
         p{
            padding: 20px;
            border-radius: 0 20px 20px 20px;
            background-color: #33487d70;
            align-self: flex-start;
            
         }

         span{
            font-size: 13px;
         };
      }
   }
}

