*{
    padding:0 ;
    margin: 0;
}
.tdetails{
    width:70%;
    /* height: 150px; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 30px;
    z-index: 100;
}

.send button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    color: #5183fe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tinp{
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    background-color: rgb(18, 18, 18);
    margin-right: 10px;
    border-radius: 15px 15px 0 15px;
    padding-right:15px ;
    position: relative;

    .picker{
        position: absolute;
        bottom: 50px;
    }
}

.micclip{
    display: flex;
    gap:30px ;
    padding-right: 10px;
}
.inpMsg{
    flex: 1;
    border: none;
    max-height: 150px;
    background-color: transparent;
    color:white;
    outline: none;
    padding-left: 20px;
    padding-right: 15px;
    border-left: 1px solid rgb(135, 135, 135);
    resize: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
   
}

.inpMsg::placeholder{
    color: rgb(135, 135, 135);
}

.ticon{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
