.profile{
    /* width: 23vw; */
    /* height:64vh; */
    padding: 25px;
    display: flex;
    flex-direction: column;

    h2{
        margin-bottom: 2vh;
    }

}
.myDp{
    display: flex;
    justify-content: start;
    overflow: hidden;

    label{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;

        .editPic{
            position: fixed;
            background-color:#5183fe;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            left: 33.5vw;
            top: 25vh;
        }

    }
    input{
        display: none;
    }


    img{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.edit{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pName{
        font-size: 25px;
    }
    button{
        height: 35px;
        width: 35px;
        background-color: transparent;
        border-radius: 7px;
        border: none;
        color: white;

        &:hover{
            background-color: #5183fe;
        }
    }
    
    .inp-btn{
        display: flex;
        align-items: center;
        border-bottom: 2px solid white;

        input{
            height: 35px;
            width: 13vw;
            border: none;
            color: white;
            background-color: transparent;
            outline: none;
            /* padding-left: 10px; */
            font-size: 25px;
            font-weight: bold;
        }
        button{
            width: 50px;
            height: 30px;
            background-color: #5183fe;
            
        }
    }
    
}

@media (width < 430px) {
    .profile{
        padding-top: 5vmin;

        h2{
            margin: 0 0 5vh 10vw;
        }
    }
    .myDp{
        justify-content: center;
        label{
            .editPic{
                top:25vh;
                left: 60vw;
            }
        }
    }
    .edit{
        margin: 3vh 4vw 0 4vw;

        button{
            background-color: #5183fe;
        }
        .inp-btn{
            input{
                width: 50vw;
            }
        }
    }
}