.profile{
    /* width: 23vw; */
    /* height:64vh; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    gap: 20px;

}
.myDp{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    label{
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;

        .editPic{
            position: fixed;
            background-color:#5183fe;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            left: 33.5vw;
            top: 150px;
        }

    }
    input{
        display: none;
    }


    img{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.edit{
    display: flex;
    justify-content: space-between;
    align-items: center;


    button{
        height: 35px;
        width: 35px;
        background-color: transparent;
        border-radius: 7px;
        border: none;
        color: white;

        &:hover{
            background-color: #5183fe;
        }
    }
    
    .inp-btn{
        display: flex;
        align-items: center;
        border-bottom: 2px solid white;

        input{
            height: 35px;
            width: 13vw;
            border: none;
            color: white;
            background-color: transparent;
            outline: none;
            /* padding-left: 10px; */
            font-size: 25px;
            font-weight: bold;
        }
        button{
            width: 50px;
            height: 30px;
            background-color: #5183fe;
            
        }
    }
    
}