.subMenu{
    position: fixed;
    left: 23vw;
    height:64vh;
    width: 23vw;
    background-color: rgb(48, 48, 48);
    top: 0;
    border: 1px solid rgb(90, 90, 90);
    border-top: none;

    .all-btn{
      margin: 5vmin;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      color: white;
      background-color: transparent;
      font-size: larger;
      display: none;
    }

}

h3{
  color: rgba(255, 255, 255, 0.323);
  font-size: 30px;
  height:64vh;
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (width < 481px){
  .subMenu{
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: pink; */
    z-index: 2;
    border: none;

    .all-btn{
      display: block;
      position: absolute;
    }
  }
}






    /* transform-origin: 0 0;
    transform: translateX(0vw);
    opacity: 0;
    transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease; */

/* 
li:is(:focus) .subMenu {
    transform: translateX(0vw);
    opacity: 100%;
  } */