.allUsers{
    height: 80px;
    width: 19.7vw;
    display: flex;
    justify-content: start;
    padding-left: 2vw;
    align-items: center;
    /* border: 1px solid white; */
    border-radius: 0.7rem;
    border: none;
    overflow: hidden;
    margin-bottom: 0.5vh;

    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
    }

    &.unseen {
        background-color: #5183fe;
      }
}

.allUsers:hover{
    background-color: rgb(39, 39, 39);
    
}
.shortdetail{
    padding-left:10px;

    h4{
        cursor: default;
    }

    p{
        width: 14vw;
        overflow: hidden; 
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: default;
    }
}


@media (width < 481px) {
    .allUsers{
        width: 86vw;
    }
    .shortdetail{    
        p{
            width: 60vw;
        }
    }
}