.friends{
    height: 100%;
}
/* 
.profile{
    display: flex;
    align-items: center;
    height: 10vmin;
    padding-left: 10px;
    gap:1vmin;
}
.dp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgb(26, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
*/

.menulogo{
    height: 10vmin;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 15px;
    background-color: rgb(21,21,21);
    border-bottom: 0.5px solid rgb(56, 56, 56);
}

.menulogo h1{
    color: rgb(0, 255, 98);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 50px;
}

.mychats{
    height: 90vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
    padding-top:20px ;
    background-color: rgb(21, 21, 21);
}
.dpicon{
    height: 90%;
}

.usearch{
    height: 40px;
    width: 21.5vw;
    background: rgb(42, 42, 42);
    border: none;
    color: white;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    
}
.sbtn{
    background-color: transparent;
    color: rgb(150, 150, 150);
    height: 100%;
    width: 13%;
    outline: none;
    border: none; 
}
.usearch input{
    height: 100%;
    width: 77%;
    flex-direction:column;
    outline: none;
    border: none;
    background-color: transparent;
    color:white ;
    padding-left: 10px;

}
.usearch input::placeholder{
    color: rgb(135, 135, 135);
}
.im{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:7vmin;
    margin-bottom: 10px;
}
.msgarr{
    display: flex;
    align-items: center;
}

.micn{
    display: flex;
    gap: 2.5vmin;
    padding-right: 7vmin;
}

.downarrow{
    padding-left: 5px;
    font-size: 12px;
}

.allchats{
    height: 83%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    scrollbar-gutter: stable both-edges;
}

.allchats:hover {
    overflow-y: auto; /* Show scrollbar on hover */
  }
  
  /* Style your custom scrollbar (optional) */
  .allchats::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar track */
    background-color:transparent; /* Set the background color of the track */
  }
  
  .allchats::-webkit-scrollbar-thumb {
    background-color: #262626; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Add a rounded corner to the thumb */
    border: none;
  }