.friends {
  height: 100vh;
}
button {
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.menulogo {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 2.7vmin;
  background-color: rgb(21, 21, 21);
  border-bottom: 0.5px solid rgb(56, 56, 56);
  border-right: 0.5px solid rgb(56, 56, 56);

  h1 {
    color: #5485ff;
    font-family: "Poetsen One", sans-serif;
    margin: 0 9.7vmin 0 7vmin;
    position: absolute;
    width: 15.3vw;
    display: flex;
    justify-content: center;
  }
}

.all-btn {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  font-size: larger;
}

.all-btn:hover {
  background-color: rgb(63, 63, 63);
}

.all-btn:active {
  background-color: #5183fe;
}

.all-btn1:hover {
  color: #5183fe;
}

.all-btn1:active {
  color: white;
}

.slideMenu {
  width: 23vw;
  border-right: 1px solid rgb(90, 90, 90);
  bottom: 0;
  position: fixed;
  height: 100vh;
  background-color: rgb(48, 48, 48);
  z-index: 200;
  text-align: left;
  left: -100%;
  transition: 0.5s;
}
.btn {
  padding-left: 19.5vw;
  padding-top: 2.5vh;
}
.logAcc {
  margin-top: 12.9vh;
  /* height: 100px; */
  width: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.switch-btn,
.log-btn {
  height: 50px;
  width: 20vw;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.switch-btn {
  border: 3px solid #5183fe;
  background-color: transparent;
}
.switch-btn:hover {
  box-shadow: 0px 0px 15px #5183fe;
  color: #5183fe;
  transition: 0.3s;
  text-shadow: none;
}

.log {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  border: none;

  span {
    position: relative;
    z-index: 1;
  }
}

.log:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 550%;
  width: 140%;
  background-color: #5183fe;
  transition: all 0.5s ease-in-out;
  transform: translate(-9%, -25%) rotate(45deg);
  cursor: pointer;
}
.log:hover:after {
  transform: translate(-85%, -25%) rotate(45deg);
  text-shadow: none;
  transition: all 0.5s ease-in-out;
  background-color: red;
}

.log:hover {
  box-shadow: 0px 0px 15px #5183fe;
  .log-btn {
    color: red;
    transition: all 0.5s ease-in-out;
  }
}

.allList {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

  ul {
    li {
      width: 23vw;
      display: flex;
      gap: 2vw;
      list-style: none;
      padding: 20px 0px;
      cursor: pointer;
      .idiv {
        display: flex;
        margin-left: 3vw;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 20px;
        overflow: hidden;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .iname {
        width: 15vw;
        display: flex;
        align-items: center;
      }
    }
    li:hover {
      background-color: #5183fe;
    }
  }
}
.activeSlideMenu {
  left: 0%;
}

.mychats {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgb(21, 21, 21);
  border-right: 0.5px solid rgb(56, 56, 56);
}
.dpicon {
  height: 90%;
}

.usearch {
  height: 40px;
  width: 21.5vw;
  background: rgb(42, 42, 42);
  border: none;
  color: white;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  button {
    background-color: transparent;
    color: rgb(150, 150, 150);
    height: 100%;
    width: 13%;
    outline: none;
    border: none;
  }
}
.usearch input {
  height: 100%;
  width: 77%;
  flex-direction: column;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  padding-left: 10px;
}
.usearch input::placeholder {
  color: rgb(135, 135, 135);
}
.im {
  width: 21.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.msgarr {
  display: flex;
  align-items: center;
}

.micn {
  display: flex;
  gap: 2.5vmin;
}

.downarrow {
  padding-left: 5px;
  font-size: 12px;
}

.allchats {
  width: 100%;
  height: 74.7vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  scrollbar-gutter: stable both-edges;
}

.allchats:hover {
  overflow-y: auto; /* Show scrollbar on hover */
}

/* Style your custom scrollbar (optional) */
.allchats::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar track */
  background-color: transparent; /* Set the background color of the track */
}

.allchats::-webkit-scrollbar-thumb {
  background-color: #262626; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add a rounded corner to the thumb */
  border: none;
}

.null-chat {
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: 0.5px solid rgb(56, 56, 56);
  padding-bottom: 20vh;
  margin-top: 2vh;
  p {
    padding-top: 2vh;
    font-size: 12px;

    span {
      color: rgb(0, 255, 0);
    }
  }
}

@media (width < 481px) {
  .menulogo {
    height: 6.5vh;
    border-right: none;
    .btn {
      left: 20vw;
    }

    h1 {
      /* width: 100vmin; */
      margin-left: 11vmin;
      width: 72.6vw;
    }
    .slideMenu {
      width: 90vw;
      position:absolute;

      .allList {
        ul {
          li {
            width: 90vw;

            .idiv {
              margin-left: 10vw;
            }
            .iname {
              width: 60vw;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .btn {
    padding-left: 76.3vw;
  }
  .logAcc {
    width: 90vw;
    margin-top: 15vh;
    display: flex;
  }
  .switch-btn,
  .log-btn {
    height: 50px;
    width: 78.26vw;
  }
  .im {
    width: 86vw;
  }
  .micn {
    gap: 7vw;
  }

  .mychats {
    height: 93.5vh;
    padding-top: 1vh;
    border-right: none;
  }

  .usearch {
    width: 86vw;
  }
  .allchats {
    height: 82vh;
    bottom: 0;
  }
}
