.aboutContainer {
  height: 100dvh;
  flex-basis: 23vw;
  background-color: rgb(22, 22, 22);
  /* backdrop-filter: blur(10px); */
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 300; 

  img {
    margin-top: 2.6vh;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
  }
  h2 {
    color: rgb(255, 255, 255);
  }
}

.block-btn {
  height: 50px;
  width: 18vw;
  border-radius: 10px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #ff0000;
  background-color: transparent;
  position: absolute;
  bottom: 7vh;
}
.block-btn:hover {
  box-shadow: 0px 0px 15px #ff0000;
  /* background-color: rgb(80, 80, 80); */
  color: #ff0000;
  transition: 0.3s;
  text-shadow: none;
}
.block-btn:active {
  background-color: red;
}

.cross-btn {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  font-size: larger;

  &:hover {
    background-color: rgb(63, 63, 63);
  }
  &:active {
    background-color: #5183fe;
  }
}

.back-btn {
  display: none;
}

.media {
  width: 100%;

  h2 {
    padding: 10px;
    color: #ffffff5a;
    font-size: 16px;
  }
}

.allMedia {
  height: auto;
  margin: 10px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: start;
  overflow-y: hidden;
  gap: 0.5vw;
}

.blank {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #2b2b2b;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.blank img{
  height: 100%;
  width: 100%;
  border-radius: 0;
  object-fit: cover;
}

@media (width < 481px) {
  .block-btn {
    width: 78.26vw;
  }
  .cross-btn {
    display: none;
  }
  .btn3 {
    width: 92vw;
    .back-btn {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      color: white;
      background-color: transparent;
      font-size: larger;

      &:active {
        background-color: #5183fe;
      }
    }
  }
  .media{
    width: 90vw;
  }
  .allMedia{
    gap: 1vw;
  }
  .blank{
    width: 20vmin;
    height: 20vmin;
  }
}
